﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This app is intended for educational/research purposes only. Do not use this app to actually attack security questions, and as a user, do not
    enter any actual answers to security questions on this site. That is, if one of the security questions matches a security question you have
    used elsewhere, do not provide an answer to that question. This app should not record your answers, but someone could modify it.</p>
